
<div class="container">
  <h1>Posts</h1>
  <div class="row">
    <div class="col-xs-12">
        
      <ul class="list-group">

        <app-post-list-item *ngFor =" let post of listofPost"
                             [postTitle]= "post.title"
                             [postContent]= "post.content"
                             [postDate]= "post.created_at"
                             [love] ="post.loveIts"
                             [post] ="post"></app-post-list-item>
      </ul>

    </div>  

  </div>

</div>


